$my-red: #F13030;
$light-grey: #96A1A4;
$lighter-grey: #FBFBFF;

.btn-main {
  background-color: $my-red;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: lighter;
  margin:0 0.3em 0.3em 0;
  border-radius:2px;
  opacity: 1;
  height: 40px;
  width: 148px;
  font-size: 12px;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  border-radius: $my-red;
  margin-top: 9px;
  color: white;
    &:hover {
    text-decoration: none;
    background-color: #ef0202;
    color: white;
  }
}
