<div class="about-page" style="height:20px;">
  <div class="d-flex darker-links">
    <ul class="d-flex flex-row list-inline larger-font ">
      <li>
        <a href="https://www.facebook.com/luca.kuhn">
          <i class="fab fa-facebook-f"></i>
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/lucakuhn">
          <i class="fab fa-instagram"></i>
        </a>
      </li>

      <li>
        <a href="https://www.linkedin.com/in/luca-kuhn-bbb779ab/">
          <i class="fab fa-linkedin"></i>
        </a>
      </li>


    </ul>
  </div>
  <div class="get-in-touch"><a href="contact.html">Get in touch</a></div>
</div>
<body class="about-page">
  <div style="width: 100%;">
    <div class="large-avatar text-center">
      <%= image_tag 'luca_headshot.jpeg', class:"avatar-bordered text-center", style:"width:200px;"%>
      <div class="about-me">
        <h2 class="red-writing">Hi.</h2>
        <p style="width:80%; display: inline-block; text-align: justify;">My name is Luca, I was born in Switzerland and grew up in Munich. I have been in England for 11 years now, and I am based in London. I am a fullstack Ruby on Rails developer, and I have a business & finance bachelors degree. I also have a big passion for health and excercise, therefor I am also currently studying Naturpathic Nutrition at CNM in London. </p>
      </div>
      <br>
      <br>

      <div style="width:60%; display: inline-block; text-align: justify;">
        <h2 class= "red-writing text-center"> What I can do?</h2>
        <br>
        <p class="text-left">Design what you want</p>
        <p class="text-right">Develop what you need</p>
        <br>
        <br>

        <h2 class= "red-writing text-center">I can help.</h2>
        <br>
        <p class="text-center">I am currently availabele for freelance work.</p>
      </div>
        <br>
        <br>
        <p class="bold-text" style="width:80%; display: inline-block; text-align: justify;">If you have a project that you want to get started, think you ned my help with something or just fancy saying hello, then get in touch.</p>
        <br>
         <a class="btn-main" href="contact.html">Contact Luca</a>
    </div>

  </div>
</body>
